@import "../base/colors";

.btn {
    border-radius: 10px;
    &-danger {
      background-color: $danger-color;
    }
    &-success {
      background-color: $success-color-hover;
    }
    &-primary {
      background-color: $primary-color;
    }
    &-warning {
        background-color: $warning-color;
        &:hover {
          border-color: $warning-color-hover;
          background-color: $warning-color-hover;
        }
      }
}