@import "../base/colors";

.btn {
    border-radius: 10px;
    &-danger {
      background-color: $danger-color;
    }
    &-success {
      background-color: $success-color-hover;
    }
    &-primary {
      background-color: $primary-color;
    }
    &-warning {
        background-color: $warning-color;
        &:hover {
          border-color: $warning-color-hover;
          background-color: $warning-color-hover;
        }
      }
}

.cart-widget {
  position: relative;
  cursor: pointer;
  margin-right: 80px;
  
}
.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
}

