$background-color: #1a2837;

$dark-color: #202020;
$dark-color-2: rgba(255, 255, 255, 0.1);
$dark-color-3: rgba(217, 217, 217, 0.237);

$success-color: #1a936f;
$success-color-hover: #176b52;

$danger-color: #d52941;
$danger-color-hover: #b11c30;

$warning-color: #ffc906;
$warning-color-hover: #d9af19;

$info-color: #cbf3f0;
$info-color-hover: #8bd6d1;

$primary-color: #065da5;
$primary-color-hove: rgb(82, 133, 175);

$light-color: #d0d0d0;

$shadow-color: #b0b0b0;

//paleta de colores background
$pallete-50: #f4f7fb;
$pallete-100: #e8eef6;
$pallete-200: #cdddea;
$pallete-300: #a0c0d9;
$pallete-400: #6d9ec3;
$pallete-500: #4b83ac;
$pallete-600: #396990;
$pallete-700: #2c4f6e;
$pallete-800: #2a4862;
$pallete-900: #273e53;
$pallete-950: #1a2837;