$dark-color: #202020;
$dark-color-2: rgba(255, 255, 255, 0.1);

$success-color: #1a936f;
$success-color-hover: #176b52;

$danger-color: #d52941;
$danger-color-hover: #b11c30;

$warning-color: #ffc906;
$warning-color-hover: #d9af19;

$info-color: #cbf3f0;
$info-color-hover: #8bd6d1;

$primary-color: #065da5;
$primary-color-hove: rgb(82, 133, 175);

$light-color: #d0d0d0;

$shadow-color: #b0b0b0;

//paleta de colores
$pallete-50: #f3f1ff;
$pallete-100: #ebe5ff;
$pallete-200: #d9ceff;
$pallete-300: #bea6ff;
$pallete-400: #9f75ff;
$pallete-500: #843dff;
$pallete-600: #7916ff;
$pallete-700: #6b04fd;
$pallete-800: #5a03d5;
$pallete-900: #4b05ad;
$pallete-950: #2c0076;

