@import "./colors";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $pallete-50;
  overflow-x: auto;
  color: $dark-color;
}

.container-main {
  margin-left: 3.7em;
  margin-bottom: 6em;
  @media screen and (max-width: 426px) {
    margin-left: 0;
  }
}

h1 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}
