@import "./colors";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; 
  background-color: $pallete-50;
  overflow-x: auto;
  color: $dark-color;
}

.container-main {
  margin-left: 3.7em;
  margin-bottom: 6em;
  @media screen and (max-width: 426px) {
    margin-left: 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  background-color: $pallete-50;
  height: 80%;
  margin-bottom: 12px;
  & img {
    max-width: 250px;
  }
}
